.corpus-highlight {
    background-color: #FFFF00;
    font-weight: bold;
}

li.example {
  counter-increment: examples;
  counter-reset: subexamples;
}

li.example::marker {
  content: "(" counter(examples) ")\a0";
}